:root{
--bg:#07111f;
--bg2:#0d1b2f;
--card:rgba(255,255,255,.06);
--border:rgba(255,255,255,.08);
--text:#ffffff;
--muted:#94a3b8;
}

*{
margin:0;
padding:0;
box-si*ing:border-box;
font-family:'Segoe*UI',sans-serif;
}

body{

backgrou*d:
radial-gradient(circle at top r*ght,
rgba(79,140,255,.25),
transpa*ent 30%),

linear-gradient(
180deg*
var(--bg),
var(--bg2)
);

color:w*ite;

padding:20px;

padding-botto*:100px;

min-height:100vh;
}

.hea*er{
margin-bottom:20px;
}

.hero,
*card,
.summary-card{

background:v*r(--card);

backdrop-filter:blur(2*px);

border:1px solid var(--borde*);

border-radius:20px;
}

.hero{
*padding:25px;

margin-bottom:20px;*}

.hero-balance{

font-size:38px;*
font-weight:bold;

margin:15px 0;*}

.hero-row{

display:flex;

gap:*0px;
}

.hero-box{
flex:1;
}

.sum*ary{

display:grid;

grid-template*columns:
repeat(3,1fr);

gap:12px;*
margin-bottom:20px;
}

.summary-c*rd{
padding:16px;
}

.summary-card*h5{
color:var(--muted);
margin-bot*om:10px;
}

.summary-card p{
font-*ize:22px;
font-weight:bold;
}

.ca*d{

padding:20px;

margin-bottom:2*px;
}

.input-group{
margin-bottom*15px;
}

.input-group label{
displ*y:block;
margin-bottom:6px;
}

.in*ut-group input{

width:100%;

padd*ng:14px;

background:
rgba(255,255*255,.04);

border:
1px solid rgba(*55,255,255,.08);

border-radius:12*x;

color:white;
}

.btn{

width:1*0%;

padding:15px;

border:none;

*order-radius:12px;

background:
li*ear-gradient(
135deg,
#4f8cff,
#00*4ff
);

color:white;

font-weight:*old;

cursor:pointer;
}

.outcome-*tem{

display:flex;

justify-conte*t:space-between;

align-items:cent*r;

padding:15px;

margin-top:10px*

border-radius:12px;

background:*rgba(255,255,255,.05);
}

.delete-*tn{

background:#ef4444;

border:n*ne;

padding:8px 12px;

border-rad*us:10px;

color:white;
}

.bottom-*av{

position:fixed;

left:15px;

*ight:15px;

bottom:15px;

display:*lex;

justify-content:space-around*

padding:15px;

background:
rgba(*5,23,42,.85);

backdrop-filter:
bl*r(25px);

border-radius:20px;

bor*er:
1px solid rgba(255,255,255,.08*;
}

.nav-item{
text-align:center;*font-size:12px;
}

@media(max-widt*:768px){

.summary{
grid-template-*olumns:1fr;
}

.hero-row{
flex-dir*
